body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 231, 231);
}

table{
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
}
thead{
    background-color: black;
    color: white;
    border-collapse: collapse;
}
th{
    padding: 5px;
    border-collapse: collapse;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
tbody{
    padding: 50px;
}
td{
    margin: 50px;
    padding: 5px;
}
img{
    height: 20px;
    width: 30px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 1px solid black;
    background-color: white;
    margin: 5px;
}
.team{
    width: 150px;
}
.FaseGrupos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.td-ter{
    background-color: white;
    padding: 5px;
}
.melhores{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-descricao{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: smaller;
    margin-left: 20px;
    text-align: center;
}
@media (max-width: 856px){
    .FaseGrupos{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 662px){
    .FaseGrupos{
        grid-template-columns: repeat(2, 1fr);
    }
}